<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout2</title>
    <link rel="stylesheet" href="./layout2.css">
</head>
<body>
    <div class= "container">
        <div class="left-column">
            <div class="heading">
            Reach out
            </div>
            <div class="second-section">
                Conference Secretariat<br> 163 Woodland Place <br> Algies Bay Rodney 0920
            </div>
            <div class="third-section">
            123-456-7890<br> hello@reallygreatsite.com <br> @reallygreatsite
            </div>
            
            <button class="button">REASERVE YOUR SEAT</button>
            
        </div>
        <div class="right-column">
            <img src="image/lay2.webp">
        </div>
    </div>
</body>
</html>