<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout 3</title>
    <link rel="stylesheet" href="layout3.css">
</head>
<body>
    <main class="container">
        <header class="container__header">
            <h1>Our 2025 Keynote Speakers</h1>
        </header>
        <section class="container__section">
            <div class="section__card">
                <div class="card__image">
                    <img class="img1" src="image/s.webp" alt="">
                </div>
                <div class="card__description">
                    <h3>Leslie Boatwright</h3>
                    <h5>Head of Marketing <br> The Hobbibox</h5>
                    <p>September 16</p>
                </div>
            </div>
            <div class="section__card">
                <div class="card__image">
                    <img class="img2" src="./s (1).webp" alt="Speaker Image">
                </div>
                <div class="card__description">
                    <h3>Nicholas Newark</h3>
                    <h5>Director of Design <br> Studio Rallia</h5>
                    <p>September 17</p>
                </div>
            </div>
            <div class="section__card">
                <div class="card__image">
                    <img class="img2" src="./s (2).webp" alt="">
                </div>
                <div class="card__description">
                    <h3>Kim Gyun</h3>
                    <h5>Founder and CEO <br> The Treasurebox Online</h5>
                    <p>September 18</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>