<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 4</title>
    <link rel="stylesheet" href="layout4.css">
</head>
<body>
    <main class="container">
        <section class="left">
            <img src="image/s3.webp" alt="image">
        </section>
        <section class="right">
            <div class="right-top">
                Our Sponsors
            </div>
            <div class="right-bottom">
                <h4>Sandrine Logistics</h4>
                <h4>Murrayfield School of Marketing</h4>
                <h4>Schuester Digital Media Group</h4>
                <h4>Blue Samurai Productions</h4>
                <h4>Berao Solutions, Inc.</h4>
                <h4>Golden Ore Bank</h4>
            </div>
        </section>
    </main>
</body>
</html>