@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
h1{
    background-color: blueviolet;font-size: 12px;color: aliceblue;
    font-family: 'Rubik Vinyl', cursive;
}
    
                        p{
                            background-color: bisque;font-size: 20px; color: blue;
                            font-family: 'Martian Mono', monospace;
                        }