<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout 1</title>
    <link rel="stylesheet" href="layout1.css">
</head>
<body>
    <main class="container">
        <section class="left">
            <h1 class="left-heading-top">Selling online<br>is vital to <br>business growth.</h1>
            <h5 class="left-heading-bottom">2025 Grow Your e-Commerce Conference</h5>
            <p class="left-bottom">
                September 16-18, 2025<br>
                Paragon One Plaza and Sky Garden
            </p>
            <button class="book__button">BOOK NOW FOR EARLY BIRD PRICES</button>
        </section>
        <section class="right">
            <img src="image\lay.webp" alt="image">
        </section>
    </main>
</body>
</html>